reports/
venv/
.idea/
build/
dist/
*egg-info/
*.pyc
.DS_Store
charmer.imi
charmer.iml
__pycache__/
.cache/**
.cache/
tr_output.yml
tr_output.txt
atlassian-ide-plugin.xml
test_temp_erase_this.py
.pytest
ghostdriver.log
geckodriver.log
jenkins-scripts/
~
*.log
test.py
dist/
build/
Pipfile.lock
