[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

click = "*"
requests = "*"
pytest = "*"
selenium = "*"


[requires]

python_version = "3.6"


[dev-packages]

"flake8" = "*"
"-e ." = "*"
"e1839a8" = {path = ".", editable = true}